.button {
    -fx-background-color :  #ff6e4e;
    -fx-text-fill:  white;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill:  #ff6e4e;
    -fx-border-color: #ff6e4e;
    -fx-border-radius: 20;
}

.button1 {
    -fx-background-color :  white;
    -fx-text-fill:  #ff6e4e;
    -fx-background-radius: 20;
}

.button1:hover {
    -fx-background-color: #ff6e4e;
    -fx-text-fill:  white;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.welcomeScreen {
-fx-background-image: url("https://wallpapercosmos.com/w/full/d/b/5/1126724-3840x2160-desktop-4k-acrobatic-gymnastics-background-photo.jpg");
-fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}